.o-button{
	display: inline-block;
	position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    transition: all .4s linear;
    font-size: 15px;
    line-height: 1.6;
    font-family: KIA, Arial,sans-serif;
    font-weight: 200;
    border: none;
    width: 169px;
    padding: 14px 20px 15px;
    background: #bb162a;
    border: 1px solid #bb162a;
    color: #ffffff!important;
    .mobile({
        width: 219px;
        padding: 17px 22px 17px;
    });
}

.o-button:hover {
    background: #940516;
    color: #ffffff !important;
    border-color: #940516;
}

.o-popup-button{    
    max-width: 219px;
    height: 60px;
    
}

    