.o-call-success{
	display: none;
	font-family: KIA, Arial, sans-serif;
	max-width: 450px;
	height: 260px;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	line-height: 1.5;
}

.o-call-success-title{
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.o-call-success-icon {
	width: 40px;
	height: 40px;
	margin: 0 auto 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #bb162a;
	border: 1px solid;
	position: relative;
	.icon {
		width: 22px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		.transform(translate(-50%, -50%));
	}
}

.o-call-success-body{
	margin-bottom: 40px;
	font-size: 16px;
	text-align: justify;
}

.o-call-success-footer{

}