
.o-call__checkbox{
    .flex-block();
    .align-items(flex-start);
}

.o-checkbox__block {
    width: 21px;
    height: 21px;
    position: relative;
    cursor: pointer;
    flex-basis: 21px;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    .mobile({
        margin-top: 0;
    });
    .mobile-small({
         margin-top: 10px;
    });


}

.o-checkbox__in {
    border: 2px solid #e4e5e6;
    background-color: transparent;
    .transition();
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
}


.o-checkbox__label {
    margin-left: 15px;
    font-size: 15px;
    line-height: 1.5;
    //font-family: @additional-font;
    font-family: @main-font;
    letter-spacing: -0.3px;
    .mobile-small({
        line-height: 1.3;
    });

    .o-call__popup & {
        white-space: nowrap;

        .mobile-small({
            white-space: normal;
        });
    }
}

.o-checkbox__icon {
    width: 22px;
    height: 20px;
    bottom: 2px;
    left: 2px;
    color: #940516;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all .4s linear;
    color: transparent;


}

.o-call__checkbox .o-checkbox__block input[type="checkbox"] {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.o-checkbox__el{
    opacity: 0;
    cursor: pointer;
}

.o-checkbox__in{
    &:before{
        content: "";
        position: absolute;
        background: #e4e5e6;
        height: 2px;
        top: -2px;
        left: -1px;
        right: 0;
        transition: all .4s linear;
    }

}

.o-checkbox__in{
    &:after{
        content: "";
        position: absolute;
        background: #e4e5e6;
        width: 2px;
        top: 0;
        bottom: -1px;
        right: -2px;
        transition: all .4s linear;
        border-radius: 3px;
    }


}

.o-checkbox__el{
    &:checked{
        & + .o-checkbox__in{
            border-right-color: transparent;
            border-top-color: transparent;
            &:after{
                top: 50%;
            }
            &:before{
                right: 25%;;
            }

        }
    }
}

.o-checkbox__el{
    &:checked{
        & + .o-checkbox__in{
            border-bottom-color: @red;
            border-left-color: @red;
            &:after{
                background: @red;
            }
            &:before{
                background: @red;
            }
        }

    }
}


    .o-checkbox__el:checked + .o-checkbox__in .o-checkbox__icon {
        opacity: 1;
        color: #bb162a;
    }

    .o-checkbox__el:checked:hover + .o-checkbox__in .o-checkbox__icon {
        color: #940516;
    }


.o-checkbox__red{

    color: #ba293a;
    border-bottom: 1px dashed;
    text-decoration: none;
}
