/* --------------- select */

@select-border-color: #e4e5e6;
@select-border-width: 1px;
@select-bg: #fafafb;
@select-font-size: 15px;
@select-font-color: #8d8d9e;
@select-font-color-hover: #8d8d9e;
@select-line-height: 1.3;

@select-border-color-hover: #8d8d9e;
@select-border-color-focus:  #8d8d9e;

@selected-bg: #ffffff;


.select {
    width: 100%;
    .flex-grow(1);
    .flex-shrink(1);
}

.select select {
    display: none;
}

.select2 {
    width: 100%!important;
    .flex-grow(1);
    .flex-shrink(1);
}

//default

.select2-container--default {
    display: block;
    outline: none;
    z-index: 210;
    .select2-selection {
        display: block;
        outline: none;
    }
    .selection {
        border: @select-border-width solid @select-border-color;
        height: 52px;
        display: block;
        position: relative;
        background: @select-bg;
        cursor: pointer;
        font-size: @select-font-size;
        .transition();
        .mobile({
            height: 60px;
        });

        &:hover {
            border-color: @select-border-color-hover;
        }

        &:focus {
            border-color: @select-border-color-focus;
        }
    }
    .select2-selection__placeholder {
        opacity: 0.5;

    }
    .select2-selection__rendered {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding: 18px 40px 18px 20px;
        font-size: @select-font-size;
        line-height: @select-line-height;
        //font-family: @additional-font;
        font-family: @main-font;
        outline: none;
        color: #3b4355;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        .mobile({
            padding-top: 20px;
        });
    }
    .select2-selection__arrow:after {
        content: "";
        display: block;
        width: 10px;
        height: 15px;
        background: url("../../images/select-arr.svg") no-repeat;
        background-size: cover;
        position: absolute;
        right: 18px;
        top: 20px;
        .transition();
        .rotate(90deg);
    }
    &.select2-container--open .select2-selection__arrow:after {
         .rotate(-90deg);
    }
    &.select2-container--open .selection {
        border-color: @select-border-color-focus;
        border-bottom-color: transparent;
    }
    .select2-dropdown {
        background: @select-bg;
        border: @select-border-width solid @select-border-color-focus;
        display: block;
        &.select2-dropdown--above {
            border-bottom: none;
        }
        &.select2-dropdown--below {
            border-top: none;
        }
    }
    .select2-search {
        display: none;
    }
    .select2-results {
        display: block;
    }
    .select2-results__options {
        display: block;
        list-style: none;
        padding: 0 0;
        max-height: 200px;
        overflow: auto;
        margin: 0;
    }
    .select2-results__option {
        font-size: @select-font-size;
        line-height: @select-line-height;
        font-family: @additional-font;
        color: @select-font-color;
        padding: 14px 20px;
        margin: 0;
        .transition();
        cursor: pointer;
        &:hover {
            color: @select-font-color-hover;
        }
        &[aria-selected="true"] {
            background: @selected-bg;
            color: @main-color;
        }
    }
}

.select2-container--disabled {
    .selection {
        opacity: 0.5;
    }
}

.select2-container--focus {
    .selection {
        border-color: @select-border-color-focus;
    }
}

.select2-container--open {
    .selection {
        position: relative;
        border-bottom-color: transparent;

        &:before {
            position: absolute;
            bottom: -@select-border-width;
            left: 20px;
            right: 20px;
            height: @select-border-width;
            background: @select-border-color-focus;
        }
    }
}
