.transition(@prop: all, @time: 0.4s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

.transform(@params) {
	-webkit-transform: @params;
	-moz-transform: @params;
	-ms-transform: @params;
	-o-transform: @params;
	transform: @params;
}

.box-shadow(@params) {
	-wabkit-box-shadow: @params;
	-moz-box-shadow: @params;
	box-shadow: @params;
}

.clearfix() {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

.clearfix:after {
		display: table;
		clear: both;
		content: "";
}

.desktop-1920 (@rules) {
		@media (min-width: 980px) and (max-width: 1925px) {
			@rules();
		}
}

.desktop-l (@rules) {
		@media (min-width: 1600px) {
			@rules();
		}
}

.desktop-m (@rules) {
		@media (min-width: 1280px) and (max-width: 1366px) {
			@rules();
		}
}

.desktop-all (@rules) {
		@media (min-width: 1025px) and (max-width: 5000px) {
			@rules();
		}
}

.desktop (@rules) {
		@media (min-width: 1025px) and (max-width: 1199px) {
			@rules();
		}
}

.tablet-landscape (@rules) {
    @media (min-width: 740px) and (max-width: 1024px) and (orientation: landscape) {
      @rules();
    }
}

.tablet (@rules) {
		@media (min-width: 740px) and (max-width: 1024px) {
			@rules();
		}
}

.tablet-old (@rules) {
		@media (min-width: 640px) and (max-width: 979px) {
			@rules();
		}
}
.tablet-dealer-popup (@rules) {
		@media screen and (max-width: 1160px) {
			@rules();
		}
}

.mobile (@rules) {
		@media (max-width: 739px) {
			@rules();
		}
}
.mobile-mid (@rules) {
		@media (max-width: 640px) {
			@rules();
		}
}
.mobile-presmall (@rules) {
		@media (max-width: 540px) {
			@rules();
		}
}
.mobile-small (@rules) {
		@media (max-width: 420px) {
			@rules();
		}
}

.inner() {
		max-width: 1200px;
		padding: 0 15px;
		margin: 0 auto;
}

/* ----------------------------------- screen-width-flags ----------------------------------- */
.adaptive-flag {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1000;
		width: 1px;
		height: 1px;

		@media (max-width: 979px) {
			display: block;
		}
}

.tablet-flag {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1000;
		width: 1px;
		height: 1px;

    .tablet ({
        display: block;
    });

    .mobile ({
        display: none;
    });
}

.mobile-flag {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1000;
		width: 1px;
		height: 1px;

		.tablet ({
        display: none;
    });

    .mobile ({
        display: block;
    });
}

.mobile-only {
		display: none;

		.mobile ({
        display: block;
    });
}

.desktop-only {
		display: block;

		.tablet ({
        display: none;
    });

    .mobile ({
        display: none;
    });
}

.tablet-only {
    display: none;

    .tablet ({
        display: block;
    });

    .mobile ({
        display: none;
    });
}

.mobile-hidden {
		.mobile ({
				display: none!important;
		});
}


.flex-block() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-grow(@grow: 1) {
	-moz-flex-grow: @grow;
	-ms-flex-grow: @grow;
	-webkit-flex-grow: @grow;
	flex-grow: @grow;
}

.flex-shrink(@shrink: 1) {
	-moz-flex-shrink: @shrink;
	-ms-flex-shrink: @shrink;
	-webkit-flex-shrink: @shrink;
	flex-shrink: @shrink;
}

.flex-basis(@basis: auto) {
	-moz-flex-basis: @basis;
	-ms-flex-basis: @basis;
	-webkit-flex-basis: @basis;
	flex-basis: @basis;
}

.order(@order: 0) {
	-webkit-box-ordinal-group: @order;
	-moz-box-ordinal-group: @order;
	-ms-box-ordinal-group: @order;
	-ms-flex-order: @order;
	-webkit-order: @order;
	-moz-order: @order;
	-ms-order: @order;
	order: @order;
}

.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-moz-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) {
	-webkit-flex-wrap: @wrap;
	-moz-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

.justify-content(@justification) {
	-webkit-box-pack: @justification;
	-moz-box-pack: @justification;
	-ms-flex-pack: replace(@justification, "flex-", "");
	-webkit-justify-content: @justification;
	justify-content: @justification;
}

.align-items(@mode) {
	-webkit-box-align: @mode;
	-moz-box-align: @mode;
	-ms-flex-align: @mode;
	-webkit-align-items: @mode;
	align-items: @mode;
}
