.o-call-success{
	display: none;
	font-family: KIA, Arial, sans-serif;
	max-width: 450px;
	height: 260px;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	line-height: 1.5;
}

.o-call-success-title{
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 30px;
	margin-top: 20px;
}


.o-call-success-body{
	margin-bottom: 40px;
}

.o-call-success-footer{

}