.o-call{
	position: relative;
	font-family: KIA, arial, sans-serif;
	* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	input,
	textarea,
	select {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    outline: none;
	    font-family: @main-font;
	}
	label {
	    cursor: pointer;
	}

	button {
	    -webkit-box-sizing: border-box;
	      box-sizing: border-box;
	    outline: none;
	    cursor: pointer;
	    font-family: @main-font;
	    border-radius: 0;
	}
	svg {
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  shape-rendering: geometricPrecision;
	}

}

.o-call__fields {
	.flex-block();
	.flex-wrap(wrap);
	margin: 0 -25px;
	max-width: 900px;
	align-items: center;
}

.o-call__field {
	background: #fff;
    position: relative;
    border: 1px solid #e4e5e6;
    font-size: 15px;
    line-height: 18px;
    color: #3e4757;
    padding: 17px 20px;
    width: 100%;
    font-family: KIA, Arial, sans-serif;
    height: 52px;
    cursor: pointer;
	.flex-grow(1);
	.flex-shrink(1);
    .mobile({
			height: 60px;
		});
}

.o-call__agreement{
	font-size: 12px;
	color: #666;
	max-width: 740px;
	margin: 0 auto;
	padding: 40px 20px;
	max-height: 600px;
	overflow: auto;
	h4 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		margin-bottom: 10px;
		line-height: 1.2;
	}

	.mobile({
		padding: 10px 0 30px;
	});
}

.o-call__popup{
	display: none;
	* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	input,
	textarea,
	select {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    outline: none;
	    font-family: @main-font;
	}
	label {
	    cursor: pointer;
	}

	button {
	    -webkit-box-sizing: border-box;
	      box-sizing: border-box;
	    outline: none;
	    cursor: pointer;
	    font-family: @main-font;
	    border-radius: 0;
	}
	svg {
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  shape-rendering: geometricPrecision;
	}
}

.o-call__popup-fields{
	max-width: 435px;
	height: 430px;
	padding: 7px;
	.mobile({
		padding: 0px;
	});

}

.o-call__popup-field{
	.flex-block();
	margin-bottom: 52px;
	input{
		background: #fff;
    	position: relative;
    	border: 1px solid #e4e5e6;
    	font-size: 15px;
    	line-height: 1.6;
    	color: #3e4757;
    	padding: 17px 20px;
    	width: 100%;
    	font-family: KIA, Arial, sans-serif;
    	height: 52px;
    	.mobile({
			width: 81%;
			height: 60px;
		});
    }

}

.o-call__popup-checkbox{
   	.flex-block();
   	margin-bottom: 35px;
	margin-top: 20px;
}

.o-call__popup-title{
	padding: 7px;
	font-size: 22px;
	text-align: center;
	font-family: KIA, Arial, sans-serif;
	.mobile({
		padding: 0px;
    	text-align: left;
	});
}

.o-call__field-side{
	width: 44px;
	.flex-grow(0);
	.flex-shrink(0);
	background-color: #c1c1c1;
	text-align: center;
	position: relative;
	height: 52px;
	.mobile({
		//width: 19%;
		height: 60px;
	});
}

.o-call__popup-button-container{
	width:100%;
	.flex-block();
	.justify-content(center);
}

.o-call__field-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	.transform(translate(-50%,-50%));

}

.o-call__field-pin{
	width: 18px;
	height: 18px;
}

.o-call__field-icon--placeholder{
	position: absolute;
	top: 57%;
	left: 92%;
	.transform(translate(-50%,-50%));
	z-index: 10;
}

.o-call__field-plus{
	height: 18px;
	width: 15px;
}

.o-call__col{
	width: 50%;
	padding: 0 25px;
	margin-bottom: 44px;
	position: relative;
	.mobile({
		width:100%;
		margin-bottom: 30px;
	});
}

.o-call__validator {
    padding-left: 20px;

		.mobile({
			padding-left: 0;
		});

	.has-error {
		display: block;
	}
}

.o-call__exist{

	color: @main-color;
}

.has-error{
	color: @main-color;
	border-color: @main-color;
	.o-call__popup .selection& {
		color: @main-color;
		border-color: @main-color;
	}
	.o-call .selection& {
		color: @main-color;
		border-color: @main-color;
	}
	.o-call__popup .select2-selection__rendered& {
		color: @main-color;
		border-color: @main-color;
	}
	.o-call .select2-selection__rendered& {
		color: @main-color;
		border-color: @main-color;
	}
	.o-call .o-checkbox__in&{
        border-bottom-color: @red;
        border-left-color: @red;
        &:after{
        	background: @red;
    	}
    	&:before{
        	background: @red;
   		}
	}
	.o-call__popup .o-checkbox__in&{
        border-bottom-color: @red;
        border-left-color: @red;
        &:after{
        	background: @red;
    	}
    	&:before{
        	background: @red;
   		}
	}
}

.o-call__validator{
	label{
		padding-left: 10px;
	}
}


.o-call__field-container{
	.flex-block();
	margin-top: 10px;
}

.o-call__container-footer{
	.flex-block();
	.align-items(center);
	.o-button {
		margin-bottom: 0;
	}

	.mobile({
		display: block;
	});
}

.o-call__container-footer .o-call__button {
	.mobile({
		margin-bottom: 30px;
	});
}

.o-call__container-footer .o-call__button .o-button{
	.mobile({
		width: 100%;
	});
}

.o-call__select-label{
	color: #8d8d9e;
	font-size: 13px;
}

.o-call__dealer{
	width: 100%;
	position: relative;
	display: block;

	.mobile({
		margin-bottom: 10px;
	});
}


.o-call__popup-field-container{
	margin-top: 30px;
}

.fancybox-close-small{
	background-image: url("../images/icon-close.svg");
	background-repeat: no-repeat;
	background-position: center;
	top: 10px;
	right: 10px;
	&:after{
		display: none;
	}
}

.fancybox-slide > *{
	overflow: hidden;
}
