.o-call-button{
	max-width: 170px;
    margin-right: 40px;
    .flex-block();
    .align-items(flex-start);
    flex-grow: 0;
    flex-shrink: 0;
	width: 167px;
	height: 41px;
	border-radius: 33px;
    background-image: linear-gradient(to left, #8b0717, #d81930);
	box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.25);
	text-align: center;
    line-height: 2.5;
    color:#ffffff;
    font-family: KIA,arial,sans-serif;
    font-size: 15px;
    overflow: hidden;
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	a{
		text-decoration: none;
		color: #ffffff;
	}
	.mobile({
		max-width: 219px;
		margin-right: 0;
	});
}


.o-call-button{
	&:hover{

  		background-color: #981222;
  		box-shadow: 4px 5px 8px 1px rgba(0, 0, 0, 0.25);
  		background-image: linear-gradient(to left, #8b0717, #8b0717);

	}

}


.o-call-button__icon{
	margin-right: 12px;
	width: 17px;
	height: 19px;
}


.o-call__button-fixed{
	.flex-block();
	.align-items(center);
	.justify-content(center);

}


