@font-face {
  font-family: 'KIA';
  src: url('../../fonts/KIA-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/KIA-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/KIA-Light.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/KIA-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/KIA-Light.svg#svg') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'KIA';
  src: url('../../fonts/KIA-Medium.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/KIA-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/KIA-Medium.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/KIA-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/KIA-Medium.svg#svg') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'KIA';
  src: url('../../fonts/KIA-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/KIA-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/KIA-Bold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/KIA-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/KIA-Bold.svg#svg') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
    font-family: "PTRoubleSans";
    src: url("../../fonts/PTRoubleSans.eot");
    src: url("../../fonts/PTRoubleSans.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/PTRoubleSans.woff2") format("woff2"),
         url("../../fonts/PTRoubleSans.woff") format("woff"),
         url("../../fonts/PTRoubleSans.ttf") format("ttf"),
         url("../../fonts/PTRoubleSans.svg#PTRoubleSans") format("svg");
    font-style: normal;
    font-weight: 300;
}


/* span.rubl-sign */

// .rubl-sign {
//     font-family: @rub-sign;
//     font-weight: 300;
// }
