.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
/* ----------------------------------- screen-width-flags ----------------------------------- */
.adaptive-flag {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000;
  width: 1px;
  height: 1px;
}
@media (max-width: 979px) {
  .adaptive-flag {
    display: block;
  }
}
.tablet-flag {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000;
  width: 1px;
  height: 1px;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .tablet-flag {
    display: block;
  }
}
@media (max-width: 739px) {
  .tablet-flag {
    display: none;
  }
}
.mobile-flag {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000;
  width: 1px;
  height: 1px;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .mobile-flag {
    display: none;
  }
}
@media (max-width: 739px) {
  .mobile-flag {
    display: block;
  }
}
.mobile-only {
  display: none;
}
@media (max-width: 739px) {
  .mobile-only {
    display: block;
  }
}
.desktop-only {
  display: block;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
}
@media (max-width: 739px) {
  .desktop-only {
    display: none;
  }
}
.tablet-only {
  display: none;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .tablet-only {
    display: block;
  }
}
@media (max-width: 739px) {
  .tablet-only {
    display: none;
  }
}
@media (max-width: 739px) {
  .mobile-hidden {
    display: none!important;
  }
}
