@main-font: "Open Sans", Arial, sans-serif;
@additional-font: "KIA", Arial, sans-serif;

@rub-sign: "PTRoubleSans", Arial, sans-serif;

@red: #bb162a;
@red-hover: #940516;

@grey: #f6f7f8;

@text-color: #3e4757;


@main-color: #bb162a;
@font-color: #000000;