@font-face {
    font-family: "KIAM";
    src: url("KIA-Medium.eot");
    src: url("KIA-Medium.eot?#iefix") format("embedded-opentype"),
         url("KIA-Medium.woff2") format("woff2"),
         url("KIA-Medium.woff") format("woff"),
         url("KIA-Medium.ttf") format("ttf"),
         url("KIA-Medium.svg#KIAM") format("svg");
    font-style: normal;
    font-weight: 300;
}