@font-face {
    font-family: "KIAL";
    src: url("KIA-Light.eot");
    src: url("KIA-Light.eot?#iefix") format("embedded-opentype"),
         url("KIA-Light.woff2") format("woff2"),
         url("KIA-Light.woff") format("woff"),
         url("KIA-Light.ttf") format("ttf"),
         url("KIA-Light.svg#KIAL") format("svg");
    font-style: normal;
    font-weight: 300;
}