@font-face {
    font-family: "PFDinDisplayPro-Light";
    src: url("PFDinDisplayPro-Light.eot");
    src: url("PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"),
         url("PFDinDisplayPro-Light.woff2") format("woff2"),
         url("PFDinDisplayPro-Light.woff") format("woff"),
         url("PFDinDisplayPro-Light.ttf") format("ttf"),
         url("PFDinDisplayPro-Light.svg#PFDinDisplayPro-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}