@font-face {
    font-family: "KIAB";
    src: url("KIA-Bold.eot");
    src: url("KIA-Bold.eot?#iefix") format("embedded-opentype"),
         url("KIA-Bold.woff2") format("woff2"),
         url("KIA-Bold.woff") format("woff"),
         url("KIA-Bold.ttf") format("ttf"),
         url("KIA-Bold.svg#KIAB") format("svg");
    font-style: normal;
    font-weight: 300;
}