@font-face {
    font-family: "PFDinDisplayPro-Medium";
    src: url("PFDinDisplayPro-Medium.eot");
    src: url("PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"),
         url("PFDinDisplayPro-Medium.woff2") format("woff2"),
         url("PFDinDisplayPro-Medium.woff") format("woff"),
         url("PFDinDisplayPro-Medium.ttf") format("ttf"),
         url("PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}