@font-face {
    font-family: "PFDinDisplayPro-Bold";
    src: url("PFDinDisplayPro-Bold.eot");
    src: url("PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"),
         url("PFDinDisplayPro-Bold.woff2") format("woff2"),
         url("PFDinDisplayPro-Bold.woff") format("woff"),
         url("PFDinDisplayPro-Bold.ttf") format("ttf"),
         url("PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}