@font-face {
    font-family: "PFDinDisplayPro-Regular";
    src: url("PFDinDisplayPro-Regular.eot");
    src: url("PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"),
         url("PFDinDisplayPro-Regular.woff2") format("woff2"),
         url("PFDinDisplayPro-Regular.woff") format("woff"),
         url("PFDinDisplayPro-Regular.ttf") format("ttf"),
         url("PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}