@font-face {
    font-family: "PTRoubleSans";
    src: url("PTRoubleSans.eot");
    src: url("PTRoubleSans.eot?#iefix") format("embedded-opentype"),
         url("PTRoubleSans.woff2") format("woff2"),
         url("PTRoubleSans.woff") format("woff"),
         url("PTRoubleSans.ttf") format("ttf"),
         url("PTRoubleSans.svg#PTRoubleSans") format("svg");
    font-style: normal;
    font-weight: 300;
}